<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Animal | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/assets/css/slicknav.css">
    <link rel="stylesheet" href="../../static/assets/css/flaticon.css">
    <link rel="stylesheet" href="../../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../../static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/assets/css/slick.css">
    <link rel="stylesheet" href="../../static/assets/css/nice-select.css">
    <link rel="stylesheet" href="../../static/assets/css/style.css">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../../static/assets/img/logo/wzz_logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
                <div class="container-fluid">
                        <!-- Logo -->
                                <!-- Main-menu -->
                <!-- navi start -->
                {% extends 'template.html' %}
                {% block content %}
                <!-- navi end -->
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Slider Area Start-->
        <div class="slider-area" style="background: #F0EDDB;">
            <div class="slider-active dot-style">

                <!-- Slider Single -->
                <div class="single-slider    d-flex align-items-center slider-height">
                    <img src="static/assets/img/gallery/figma_home_ver2_1.png" style="position:absolute">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 ">
                                <!-- Video icon -->
                                <div class="video-icon">
                                    <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=BNEMEE2dUoM" data-animation="bounceIn" data-delay=".4s">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                                {% if g.user %}
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".3s"> 똑똑한 집사, {{ g.user }}님! 즐거운 하루예요!    </span>
                                    <h1 data-animation="fadeInUp" data-delay=".3s">우리 강아지 <br> 검사해볼까요? </h1>
                                    <p data-animation="fadeInUp" data-delay=".6s">
                                        If your lovely pet have problems with skin,<br>
                                        AI model woozoozoo help you!
                                    </p>
                                    <a href="{{ url_for('check.check') }}" class="hero-btn" data-animation="fadeInLeft" data-delay=".3s"> 5초 피부진단 바로가기 <i class="ti-arrow-right"></i> </a>
                                </div>

                                {% else %}
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".3s"> 안녕하세요! 로그인 하시면 간편 피부진단이 가능합니다. </span>
                                    <h1 data-animation="fadeInUp" data-delay=".3s"> 5초만에 피부진단 <br> 바로가기 </be></b4></h1>
                                     <p data-animation="fadeInUp" data-delay=".6s">
                                        If your lovely pet have problems with skin,<br>
                                        AI model woozoozoo help you!
                                    </p>
                                    <a href="{{ url_for('check.check') }}" class="hero-btn" data-animation="fadeInLeft" data-delay=".3s">Login and able to check<i class="ti-arrow-right"></i> </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
<!--        &lt;!&ndash;? Slider Area Start2&ndash;&gt;-->
<!--        <div class="slider-area" style="background-image: url(static/assets/img/gallery/2.png);">-->
<!--            <div class="slider-active dot-style">-->

                <!-- Slider Single (kor) -->

                <div class="single-slider d-flex align-items-center slider-height">
                    <img src="static/assets/img/gallery/figma_home_ver2_2.png" style="position:absolute">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 ">
                                <!-- Video icon -->
                                <div class="video-icon">
                                    <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=Vmv5DioiRX0" data-animation="bounceIn" data-delay=".4s">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>

                                {% if g.user %}
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".3s"> {{ g.user }}님, 오늘 시월이 상태는 어때요? </span>
                                    <h1 data-animation="fadeInUp" data-delay=".3s"> 우쭈쭈 케어봇 <br> 피부 관리 </h1>
                                    <p data-animation="fadeInUp" data-delay=".6s">
                                        우리 반려 동물, 피부에 문제가 있나요? <br>
                                        AI 예측 모델로 피부병 진단 받아 보세요!
                                    </p>
                                    <a href="{{ url_for('check.check') }}" class="hero-btn" data-animation="fadeInLeft" data-delay=".3s"> 진단 하러 바로 가기 Go <i class="ti-arrow-right"></i> </a>
                                </div>

                                {% else %}
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".3s"> 로그인을 하시면 피부체크가 가능합니다! </span>
                                    <h1 data-animation="fadeInUp" data-delay=".3s">
                                        우쭈쭈 아프지마 <br>
                                        우리 아이 피부 체크
                                    </h1>
                                     <p data-animation="fadeInUp" data-delay=".6s">
                                        우리 반려 동물, 피부에 문제가 있나요? <br>
                                        AI 예측 모델로 피부병 진단 받아 보세요!
                                    </p>
                                    <a href="{{ url_for('check.check') }}" class="hero-btn" data-animation="fadeInLeft" data-delay=".3s">Login and able to check <i class="ti-arrow-right"></i> </a>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider Social -->
            <div class="button-text d-none d-md-block">
            <span>Scroll</span>
            </div>
        </div>
        <!-- Slider Area End -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                              <!-- logo -->
                             <div class="footer-logo mb-25">
                                 <a href="index.html"><img src="../../static/assets/img/logo/wzz_logo.png" alt=""></a>
                             </div>
                             <div class="footer-tittle">
                                 <div class="footer-pera">
                                     <p> </p>
                                </div>
                             </div>
                             <!-- social -->
                             <div class="footer-social">

                             </div>
                         </div>
                       </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="home">Home</a></li>
                                    <li><a href="about">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Services</h4>
                                <ul>
                                    <li><a href="http://127.0.0.1:5000/check/">반려견 피부진단</a></li>
                                    <li><a href="http://127.0.0.1:5000/map/">동물병원 찾기</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Get in Touch</h4>
                                <ul>
                                 <li><a href="http://pf.kakao.com/_ujLxaxj/chat">카카오톡 채팅 'woozoozoo' </a></li>
                                 <li><a href="#">  </a></li>
                             </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center">
                         <div class="col-xl-12 ">
                             <div class="footer-copy-right text-center">

                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
<!--    <div id="back-top" style="position: relative; left: 200px; top: 250px;">-->
<!--        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>-->
<!--    </div>-->

    <!-- JS here -->
    <script src="../../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../../static/assets/js/popper.min.js"></script>
    <script src="../../static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../../static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../../static/assets/js/owl.carousel.min.js"></script>
    <script src="../../static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../../static/assets/js/wow.min.js"></script>
    <script src="../../static/assets/js/animated.headline.js"></script>
    <script src="../../static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="../../static/assets/js/jquery.nice-select.min.js"></script>
    <script src="../../static/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../../static/assets/js/contact.js"></script>
    <script src="../../static/assets/js/jquery.form.js"></script>
    <script src="../../static/assets/js/jquery.validate.min.js"></script>
    <script src="../../static/assets/js/mail-script.js"></script>
    <script src="../../static/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../../static/assets/js/plugins.js"></script>
    <script src="../../static/assets/js/main.js"></script>

    <!-- dialogflow chatbot -->
    <script src="../static/js/scripts.js"></script>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      intent="WELCOME"
      chat-title="우쭈쭈 chat-bot"
      agent-id="3a9f3839-06ab-45ec-9371-247ef237f25a"
      language-code="ko">
    </df-messenger>

    </body>
    {% endblock %}
</html>