<html lang="en-US">
<head>
<!-- Navigation-->
{% extends 'template.html' %}
{% block content %}
<main id="main" class="site-main main">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="container container--xs">
                    <div class="woocommerce">
                        <div id="signup_div_wrapper">
                            <img class="img-fluid mx-auto d-block mb-3"
                                 src="../../static/assets/img/logo/wzz_logo.png"
                                 alt="">
                            <h1 class="mb-1 text-center">Want to Sign up? </h1>
<!--                            <p class="fs-14 text-gray text-center mb-5">if you want to check your lovely pet, please become our family ♥</p>-->
                            <form method="post" class="register">

                                {{ form.csrf_token }}
                                <!-- 만약 에러 나타나면 메세지 뜨기 -->
                                {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                  {% for field,errors in form.errors.items() %}
                                    <strong> {{ form[field].label }}</strong>
                                    <ul>
                                      {% for error in errors %}
                                      <li>{{ error }}</li>
                                      {% endfor %}
                                    </ul>
                                      {% endfor %}
                                </div>
                                {% endif %}
                                {% for message in get_flashed_messages() %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                                {% endfor %}

                                <!-- userID -->
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="username">User ID<span class="required">*</span></label>
                                    <input type="text"
                                           class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                           name="username" id="username" value="{{ form.username.data or '' }}"
                                           required="">
                                <div class="invalid-feedback">This field is required</div>
                                </p>

                                <!-- 비밀번호 폼 -->
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="password1">Password <span class="required">*</span></label>
                                    <input type="password"
                                           class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                           name="password1" id="password1" value="{{ form.password1.data or '' }}"
                                           required="">
                                <div class="invalid-feedback">This field is required</div>
                                </p>

                                <!-- 비밀번호 확인 폼 -->
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="password2">Confirm Password <span class="required">*</span></label>
                                    <input type="password"
                                           class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                           name="password2" id="password2" value="{{ form.password2.data or '' }}"
                                           required="">
                                <div class="invalid-feedback">This field is required</div>
                                </p>

                                <!-- 이메일 폼 -->
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="reg_email">Email address <span class="required">*</span></label>
                                    <input type="email"
                                           class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                           name="email" id="reg_email" value="{{ form.email.data or '' }}" required="">
                                <div class="invalid-feedback">This field is required</div>
                                </p>

                                <!-- 전화번호 폼 -->
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="phone">Mobile Phone <span class="required">*</span></label>
                                    <input type="text"
                                           class="woocommerce-Input woocommerce-Input--text input-text form-control"
                                           name="phone" id="phone" value="{{ form.phone.data or '' }}" required="">
                                <div class="invalid-feedback">This field is required</div>
                                </p>

                                <!-- Spam Trap -->
                                <div style="left: -999em; position: absolute;"><label for="trap">Anti-spam</label><input
                                        type="text" name="email_2" id="trap" tabindex="-1" autocomplete="off"></div>

                                <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce"
                                       value="776cefb85e"><input type="hidden" name="_wp_http_referer"
                                                                 value="/my-account/">
                                <input type="submit" class="btn btn-brand btn-block btn-lg mb-4 mt-3" style="margin:0;"
                                       name="register" value="Sign Up">
                                <div class="invalid-feedback">This field is required</div>
                                </p>
                            </form>

                            <p class="text-gray-soft text-center large mb-2">Already have an account? <a
                                    href="{{ url_for('auth.login') }}">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- #main .site-main -->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item d-lg-flex justify-content-lg-between align-items-lg-center">
                <ul id="menu-seller-footer" class="nav sub-nav footer__sub-nav">
                </ul>
            </div>
        </div>
    </div>
</footer>
<script id="mcjs">
    !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e3428dd6b8fda73bc5ba8b6e6/37107ccd183a988edab652f4b.js");
</script>
<script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;

</script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/themes.getbootstrap.com\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */

</script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.8.1"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/woocommerce/assets/js/selectWoo/selectWoo.full.min.js?ver=1.0.6"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4"></script>
<script type="text/javascript">
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */

</script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.8.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_b6f75edb0c218a0e4f336b9932fd5939","fragment_name":"wc_fragments_b6f75edb0c218a0e4f336b9932fd5939","request_timeout":"5000"};
/* ]]> */

</script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.8.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var mailchimp_public_data = {"site_url":"https:\/\/themes.getbootstrap.com","ajax_url":"https:\/\/themes.getbootstrap.com\/wp-admin\/admin-ajax.php","language":"en"};
/* ]]> */

</script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/mailchimp-for-woocommerce/public/js/mailchimp-woocommerce-public.min.js?ver=2.4.0"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/jquery/ui/sortable.min.js?ver=1.11.4"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4"></script>
<script type="text/javascript">
jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});

</script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/vendors/tooltips/tooltips.js?ver=2.9.27"></script>
<script type="text/javascript">
/* <![CDATA[ */
var DokanValidateMsg = {"required":"This field is required","remote":"Please fix this field.","email":"Please enter a valid email address.","url":"Please enter a valid URL.","date":"Please enter a valid date.","dateISO":"Please enter a valid date (ISO).","number":"Please enter a valid number.","digits":"Please enter only digits.","creditcard":"Please enter a valid credit card number.","equalTo":"Please enter the same value again.","maxlength_msg":"Please enter no more than {0} characters.","minlength_msg":"Please enter at least {0} characters.","rangelength_msg":"Please enter a value between {0} and {1} characters long.","range_msg":"Please enter a value between {0} and {1}.","max_msg":"Please enter a value less than or equal to {0}.","min_msg":"Please enter a value greater than or equal to {0}."};
/* ]]> */

</script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/vendors/form-validate/form-validate.js?ver=2.9.27"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/js/speakingurl.min.js?ver=2.9.27"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/vendors/i18n/jed.js?ver=2.9.27"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/js/vendor-registration.js?ver=1580165288"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/imgareaselect/jquery.imgareaselect.min.js?ver=5.3"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/underscore.min.js?ver=1.8.3"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/customize-base.min.js?ver=5.3"></script>
<script type="text/javascript" src="https://themes.getbootstrap.com/wp-includes/js/backbone.min.js?ver=1.4.0"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-includes/js/customize-models.js?ver=2.9.27"></script>
<script type="text/javascript">
/* <![CDATA[ */
var dokan_refund = {"mon_decimal_point":".","remove_item_notice":"Are you sure you want to remove the selected items? If you have previously reduced this item's stock, or this order was submitted by a customer, you will need to manually restore the item's stock.","i18n_select_items":"Please select some items.","i18n_do_refund":"Are you sure you wish to process this refund request? This action cannot be undone.","i18n_delete_refund":"Are you sure you wish to delete this refund? This action cannot be undone.","remove_item_meta":"Remove this item meta?","ajax_url":"https:\/\/themes.getbootstrap.com\/wp-admin\/admin-ajax.php","order_item_nonce":"91a4f9ec5d","post_id":"","currency_format_num_decimals":"2","currency_format_symbol":"$","currency_format_decimal_sep":".","currency_format_thousand_sep":",","currency_format":"%s%v","rounding_precision":"6"};
/* ]]> */

</script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/js/dokan.js?ver=1580165288"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/vendors/select2/select2.full.min.js?ver=2.9.27"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/vendors/magnific/jquery.magnific-popup.min.js?ver=2.9.27"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-lite/assets/js/login-form-popup.js?ver=1580165288"></script>
<script type="text/javascript"
        src="https://themes.getbootstrap.com/wp-content/plugins/dokan-pro/assets/js/dokan-pro.js"></script>
<script type="text/javascript" src="https://themes.getbootstrap.com/wp-includes/js/wp-embed.min.js?ver=5.3"></script>
<script>
        function validate_form(form) {
            var er = 0;
            form.find(".is-invalid").removeClass("is-invalid");
            form.find(".url_invalid").removeClass("url_invalid");
            form.find(".email_invalid").removeClass("email_invalid");

            form.find(".check_url").each(function () {
                if (jQuery(this).val() || jQuery(this).is(".required")) {
                    if (!jQuery(this).val().match(/^(https?|ftp):\/\/([a-zA-Z0-9.-]+(:[a-zA-Z0-9.&%$-]+)*@)*((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}|([a-zA-Z0-9-]+\.)*[a-zA-Z0-9-]+\.(com|edu|gov|int|mil|net|org|biz|studio|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(:[0-9]+)*(\/($|[a-zA-Z0-9.,?'\\+&%$#=~_-]+))*$/)) {
                        if (jQuery(this).val().indexOf("ailto:") > 0) {

                        } else {
                            er = 1;
                            jQuery(this).addClass("is-invalid").addClass("url_invalid");
                        }
                    }
                }
            });

            form.find(".check_https_url").each(function () {

                var val = jQuery(this).val();

                if ( val || jQuery(this).is(".required")) {

                    if( val.substr(0, 8) != 'https://' ) {
                        jQuery(this).addClass("is-invalid").addClass("url_invalid");
                    }

                }
            });

            form.find(".check_email").each(function () {
                if (!jQuery(this).val().match(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
                    er = 1;
                    jQuery(this).addClass("is-invalid").addClass("email_invalid");
                }
            });

            if (jQuery("#upload_cover").length) {
                if (!jQuery("#upload_cover").val().length && jQuery(".upload-image__cover__overlay").css("background-image") !== "none") {
                    jQuery("#cover_input_feedback").hide();
                    jQuery(".upload-image__cover__overlay").removeClass("invalid-img");
                } else {
                    if (!jQuery("#upload_cover").val().length) {
                        jQuery("#cover_input_feedback").show();
                        jQuery(".upload-image__cover__overlay").addClass("invalid-img");
                        er = 1;
                    } else {
                        if (parseInt(jQuery(".upload-image__cover__overlay").attr("data-width")) < 1200) {
                            jQuery(".upload-image__cover__overlay").addClass("invalid-img");
                            jQuery("#cover_input_feedback").html("Cover images need to be at least 1200px wide").show();
                            er = 1;
                        } else {
                            jQuery("#cover_input_feedback").hide();
                            jQuery(".upload-image__cover__overlay").removeClass("invalid-img");
                        }
                    }
                }
            }

            if (jQuery("#preview_screenshot").length) {
                if (!jQuery("#preview_screenshot").val().length && jQuery(".upload-image__cover__overlay").css("background-image") !== "none") {
                    jQuery("#cover_input_feedback").hide();
                    jQuery(".upload-image__cover__overlay").removeClass("invalid-img");
                } else {
                    if (!jQuery("#preview_screenshot").val().length) {
                        jQuery("#cover_input_feedback").show();
                        jQuery(".upload-image__cover__overlay").addClass("invalid-img");
                        er = 1;
                    } else {

                        if (parseInt(jQuery(".upload-image__cover__overlay").attr("data-width")) < 1200 || parseInt(jQuery(".upload-image__cover__overlay").attr("data-height")) < 900) {
                            jQuery(".upload-image__cover__overlay").addClass("invalid-img");
                            jQuery("#cover_input_feedback").html("Cover images need to be at least 1200px wide and 900px tall").show();
                            er = 1;

                        } else if ( jQuery(".upload-image__cover__overlay").attr("data-size") > 300 ) {
                            jQuery(".upload-image__cover__overlay").addClass("invalid-img");
                            jQuery("#cover_input_feedback").html("Cover images must not be larger than 300kb").show();
                            er = 1;

                        } else {
                            jQuery("#cover_input_feedback").hide();
                            jQuery(".upload-image__cover__overlay").removeClass("invalid-img");
                        }
                    }
                }
            }

            if (jQuery("#upload_avatar").length) {
                if (!jQuery("#upload_avatar").val().length && jQuery(".upload-image__avatar").css("background-image") !== "none") {
                    jQuery("#avatar_input_feedback").hide();
                    jQuery(".upload-image__avatar").removeClass("invalid-img");
                } else {
                    if (!jQuery("#upload_avatar").val().length) {
                        jQuery("#avatar_input_feedback").show();
                        jQuery(".upload-image__avatar").addClass("invalid-img");
                        er = 1;
                    } else {
                        if (parseInt(jQuery(".upload-image__avatar").attr("data-width")) < 300) {
                            jQuery("#avatar_input_feedback").html("Avatar images need to be at least 300px wide").show();
                            jQuery(".upload-image__avatar").addClass("invalid-img");
                            er = 1;
                        } else {
                            jQuery("#avatar_input_feedback").hide();
                            jQuery(".upload-image__avatar").removeClass("invalid-img");
                        }
                    }
                }
            }

            if (jQuery("#theme_file").length) {
                if (jQuery("#theme_file_label a").length) {
                    jQuery("#theme_input_feedback").hide();
                } else {
                    if (!jQuery("#theme_file").val().length) {
                        jQuery("#theme_input_feedback").show();
                        er = 1;
                    } else {
                        if (parseInt(jQuery("#theme_file_label").attr("data-size")) > 200000) {
                            jQuery("#theme_input_feedback").html("The maximum size of uploaded files is 200MB").show();
                            er = 1;
                        } else {
                            jQuery("#theme_input_feedback").hide();
                        }
                    }
                }
            }


            form.find(".required, input[required], select[required]").each(function () {
                if (jQuery(this).is("select")) {
                    if (jQuery(this).is("[multiple]") == false) {
                        if (!jQuery(this).val() || jQuery(this).val() == "" || jQuery(this).val() < 0) {
                            //alert("bbbb");
                            jQuery(this).addClass("is-invalid");
                            jQuery(this).parent().find(".customSelect").addClass("is-invalid");
                        }
                    } else {
                        if (!jQuery(this).find("option:selected").length) {
                            jQuery(this).addClass("is-invalid");
                            jQuery(this).parent().find(".customSelect").addClass("is-invalid");
                        }
                    }
                } else if (jQuery(this).is('[type="checkbox"]') || jQuery(this).is('[type="radio"]')) {
                    if (!form.find('input[name="' + jQuery(this).attr("name") + '"]:checked').length) {
                        form.find('input[name="' + jQuery(this).attr("name") + '"]').addClass("is-invalid");
                    }
                } else if (jQuery(this).find('input:file').length && !jQuery(this).find('input:file').val()) {
                    jQuery(this).addClass("is-invalid");
                } else if ((jQuery(this).is("input, select, textarea") && !jQuery(this).val()) || jQuery(this).is(".is-invalid_exists")) {
                    //er = 1;
                    if (!jQuery(this).is("#user_core_password") && !jQuery(this).is("#user_core_password_confirm2")) {
                        jQuery(this).addClass("is-invalid");
                        jQuery(this).parent().find(".customSelect").addClass("is-invalid");
                    }
                }
            });
            form.find(".is-invalid_exists").each(function () {
                er = 1;
                jQuery(this).addClass("is-invalid");
            });
            var passok = 1;
            var passmatch = 1;
            form.find("#user_core_password").each(function () {
                if (form.find("#user_core_password_confirm2").length && form.find("#user_core_password").val() != form.find("#user_core_password_confirm2").val()) {
                    passmatch = 0;
                }
                var validated = true;
                if (jQuery(this).val().length < 8) {
                    validated = false;
                }
                //                var res = /[a-z]/;
                //                if (!res.test(jQuery(this).val())) {
                //                    validated = false;
                //                }
                //                var res = /[A-Z]/;
                //                if (!res.test(jQuery(this).val())) {
                //                    validated = false;
                //                }
                //                var res = /[0-9]/;
                //                if (!res.test(jQuery(this).val())) {
                //                    validated = false;
                //                }
                if (validated == true) {
                } else {
                    passok = 0;
                }
                if (!passok || !passmatch) {
                    form.find("#user_core_password").addClass("is-invalid");
                    form.find("#user_core_password_confirm2").addClass("is-invalid");
                } else {
                    form.find("#user_core_password").removeClass("is-invalid");
                    form.find("#user_core_password_confirm2").removeClass("is-invalid");
                }
            });
            if (form.find(".is-invalid").length) {
                er = 1;
            }
            if (!passmatch || !passok) {
                if (!passok) {
                    jQuery("#pass_input_feedback").html("Password must be at least 8 characters in length.");
                } else {

                }
            }
            if (form.find(".email_exists").length) {
                form.find(".email_exists").addClass("is-invalid");
                jQuery("#email_input_feedback").html("That email is already registered.");
            }
            if (form.find(".username_exists").length) {
                jQuery("#email_input_feedback").html("That user name is already registered.");
            }
            if (form.find(".url_invalid").length) {
            }
            if (form.find(".email_invalid").length) {
                jQuery("#email_input_feedback").html("Please input a valid email address.");
            }
            if (er) {
                //form.find(".is-invalid").removeClass("is-invalid");
            }
            if (form.find(".terms").length && !form.find(".terms:checked").length) {
                er = 1;
            }
            if (jQuery("#captcha_completed").val() == 0) {
                er = 1;
            } else {

            }



            if (!er) {
                form.find(".alert-danger").slideUp();
            } else {
                if (form.find(".is-invalid:first").length) {
                    jQuery('html, body').animate({
                        scrollTop: form.find(".is-invalid:first").offset().top - 80
                    }, 1000);
                }
            }
            return er;
        }

        jQuery(document).ready(function () {
            jQuery(".show_if_seller").remove();
            jQuery("form.register p").each(function () {
                jQuery(this).find('input[type="text"], input[type="email"], input[type="password"]').addClass("form-control").prop("required", true);
                jQuery(this).append('<div class="invalid-feedback">This field is required</div>');
            });
            jQuery("form.register").unbind("submit").submit(function (e) {
                var er = validate_form(jQuery("form.register"));
                if (er) {
                    e.stopPropagation();
                    e.preventDefault();
                    return false;
                } else {
                    return true;
                }
            });

            jQuery(".fixed_price").change(function () {
                if (parseInt(jQuery(this).attr("min"))) {
                    if (parseInt(jQuery(this).attr("min")) > parseInt(jQuery(this).val())) {
                        jQuery(this).val(parseInt(jQuery(this).attr("min")));
                    }
                }
                var pr = parseFloat(jQuery(this).val());
                jQuery(this).val(pr.toFixed(2));
            });
            jQuery(".fixed_price").change();

            jQuery(".search-box select").change(function () {
                jQuery(this).closest("form").submit();
            });
        });

</script>
<div id="yith-wcwl-popup-message" style="display:none;">
    <div id="yith-wcwl-message"></div>
</div>


<script src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/Chart.min.js"></script>
<script src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/Chart.bundle.min.js"></script>
<script src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/tether.min.js"></script>
<script src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/popper.min.js"></script>
<script src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/bootstrap.min.js"></script>
<script src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/lazysizes.min.js"></script>

<!-- The filemtime is to append a timestamp for the last time the stylesheet was updated to automate cache busting from CloudFlare -->
<script src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/javascript/scripts.js?ver=1670173476"></script>

</body>
{% endblock %}

</html>