<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>회원가입 페이지</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">회원가입</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark bg-gradient text-white">
            <div class="container px-4 text-center">
                <div class="wrapper">
                <div class="title"><h1 style="font-size: 21px;">회원가입</h1></div>
                <div class="email">
                    <input id="email" type="text" placeholder="이메일을 입력해 주세요.">
                    <div id="emailError" class="error"></div>
                </div>
                <div class="name">
                    <input id="name"  type="text" placeholder="이름을 입력해 주세요.">
                    <div id="nameError" class="error"></div>
                </div>
                <div class="password">
                    <input id="password" type="password" placeholder="비밀번호를 입력해 주세요.">
                    <div id="passwordError" class="error"></div>
                </div>
                <div class="passwordCheck">
                    <input id="passwordCheck" type="password" placeholder="비밀번호를 다시 입력해 주세요.">
                    <div id="passwordCheckError" class="error"></div>
                </div>
                <div style="padding:10px;">
                <div class="phone">
                    <input id="phone1" type="text" size="1" maxlength="3" oninput="changePhone1()"> -
                    <input id="phone2" type="text" size="3" maxlength="4" oninput="changePhone2()"> -
                    <input id="phone3" type="text" size="3" maxlength="4" oninput="changePhone3()">
                </div>
                </div>
                <div class="auth">
                    <div id="certificationNumber">000000</div>
                    <button disabled id="sendMessage" onclick="getToken()">인증번호 전송</button>
                </div>

                <div class="timer">
                    <div id="timeLimit">03:00</div>
                    <button disabled id="completion" onclick="checkCompletion()">인증확인</button>
                </div>
                <div class="area">
                    <select id="area">
                        <option selected disabled>지역을 선택하세요.</option>
                        <option>서울</option>
                        <option>인천</option>
                        <option>경기</option>
                    </select>
                    <div id="areaError" class="error"></div>
                </div>
                <div class="gender">
                    <input id="gender_man" type="radio" name="gender">남성
                    <input id="gender_woman" type="radio" name="gender">여성
                    <div id="genderError" class="error"></div>
                </div>
                <div class="line">
                    <hr>
                </div>
                <div class="signUp">
                    <button id="signUpButton" disabled onclick="signUpCheck()">가입하기</button>
                </div>
            </div>
            </div>
        </header>
    </body>
</html>
